@import "../theme.scss";

.game-header {
  display: flex;
  justify-content: space-between;
  color: $light-red;
  font-size: 28px;
  padding: 48px 38px;

  img {
    width: 34px;
    margin-right: 16px;
  }

  .game-info-right {
    text-align: right;

    .game-name {
      font-size: 42px;
    }

    .game-score {
      display: inline-block;
      min-width: 110px;
      font-family: monospace;
    }
  }
}
