@import "../theme.scss";

.ff-select {
    padding: 12px 16px;
    border-radius: 12px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.8);
    opacity: 0.59;
    outline: none;
    color: $evergreen;
    font-weight: 600;
    font-size: 25px;

    appearance: none;
    background: url('../asset/image/icon/ionic-md-arrow-dropdown.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 96% center;
    color: $white;
}
