@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';

// START color
$marine: #063c47;
$evergreen: #032228;
$cool-grey-2: #97a5a7;
$light-red: #ff5155;
$light-green: #54ba18;
$color-text-error: #445298;
// ENS color